# 项目基础配置
ENV=development
LOG_LEVEL=DEBUG

# 数据库相关配置
# SQLALCHEMY_DATABASE_URL=


# Redis相关配置
# REDIS_HOST=
# REDIS_PORT=
# REDIS_DB=
# REDIS_PASSWORD=

# AI 相关配置
# API Key (required)
# Get yours at: https://console.anthropic.com/
ANTHROPIC_API_KEY=
# MiniMax https://platform.minimax.io
ANTHROPIC_BASE_URL=
MODEL_ID=
